<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"  href="~/css/layout.css"/>
    <title>Bank of Simba</title>
</head>
<body>
    <header class="header">
        <h1>Welcome to Bank of Simba</h1>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
