@using BankOfSimba.Models
@model BankAccount;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<body>
    <h2>Show account</h2>
    <p>Account name: @Model.Name</p>
    <p>Account balance: @Model.Balance.ToString("0.00") Zebras</p>
    <p>Account animalType: @Model.AnimalType</p>


</body>
</html>

