body {
    margin 0;
    display: block;
    position: relative;
}

table {
    width: 100%;
}

table tr {
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-around;
}

h3 {
    text-align: center;
}
